<svg width="40px" height="15px" viewBox="0 37 100 25" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" class="lds-facebook" style="background: none;">
    <rect x="15" y="40" width="20" height="20" fill="#5190fb">
      <animate attributeName="y" calcMode="spline" values="35;40;40" keyTimes="0;0.5;1" dur="1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s" repeatCount="indefinite"></animate>
      <animate attributeName="height" calcMode="spline" values="30;20;20" keyTimes="0;0.5;1" dur="1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s" repeatCount="indefinite"></animate>
    </rect>
    <rect x="40" y="40" width="20" height="20" fill="rgba(31.764705882352935%,56.470588235294116%,98.43137254901958%,0.718)">
      <animate attributeName="y" calcMode="spline" values="36.25;40;40" keyTimes="0;0.5;1" dur="1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.1s" repeatCount="indefinite"></animate>
      <animate attributeName="height" calcMode="spline" values="27.5;20;20" keyTimes="0;0.5;1" dur="1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.1s" repeatCount="indefinite"></animate>
    </rect>
    <rect x="65" y="39.9837" width="20" height="20.0326" fill="rgba(31.764705882352935%,56.470588235294116%,98.43137254901958%,0.357)">
      <animate attributeName="y" calcMode="spline" values="37.5;40;40" keyTimes="0;0.5;1" dur="1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="0s" repeatCount="indefinite"></animate>
      <animate attributeName="height" calcMode="spline" values="25;20;20" keyTimes="0;0.5;1" dur="1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="0s" repeatCount="indefinite"></animate>
    </rect>
</svg>
