<div class="row mb-3">
    <div class="col-md-6">
        <img src="assets/images/joker.jpg" alt="Pic of Joker">
    </div>
    <div class="col-md-6">
        <h4>Name</h4>
        <p>Joker</p>
        <h4>Description</h4>
        <p>The guy to put Gotham city in trouble</p>
        <h4>Features</h4>
        <ul>
            <li>threatens citizens</li>
            <li>kidnaps people</li>
            <li>talks a lot</li>
            <li>very smart</li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        Quote
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Why so seriuos?</p>
            <footer class="blockquote-footer">from 
                <cite title="Source Title">The Dark Knight</cite>
            </footer>
        </blockquote>
    </div>
</div>