<div class="card">
    <img class="card-img-top"
        [attr.src]="icon.thumbUrl" [attr.alt]="'Pic of ' + icon.name">
    <div class="card-body">
        <h5 class="card-title">{{icon.name}}</h5>
        <p class="card-text">{{icon.desc}}</p>
        <button class="btn btn-danger btn-sm"
            (click)="deleteIcon()">Del</button>
        <a [routerLink]="['edit', icon.id]"
            class="btn btn-warning btn-sm">Upd</a>
        <a [routerLink]="['icon', icon.id]"
            class="btn btn-primary">More</a>
    </div>
</div>
